[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Modbus/TCP Protocol
[access "refs/*"]
	owner = group user/Savindra Kumar (SavindraKumar)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Savindra Kumar (SavindraKumar)
	label-Verified = -1..+1 group user/Savindra Kumar (SavindraKumar)
	push = group user/Savindra Kumar (SavindraKumar)
	read = group user/Savindra Kumar (SavindraKumar)
	rebase = group user/Savindra Kumar (SavindraKumar)
	removeReviewer = group user/Savindra Kumar (SavindraKumar)
	submit = group user/Savindra Kumar (SavindraKumar)
[access "refs/heads/*"]
	create = group user/Savindra Kumar (SavindraKumar)
	push = +force group user/Savindra Kumar (SavindraKumar)
	pushMerge = group user/Savindra Kumar (SavindraKumar)
	read = group user/Savindra Kumar (SavindraKumar)
[access "refs/tags/*"]
	push = group user/Savindra Kumar (SavindraKumar)
	push = +force group user/Savindra Kumar (SavindraKumar)
